coverage/**
node_modules/**
dist/**
src/index.html
storybook-static/*
public/*
docs/**
.husky/*
*.cssmodule.scss.d.ts
*.cssmodule.d.ts
*.yml
*.yaml
*.d.ts
typings.d.ts
tsconfig.json
.prettierignore
.eslintignore
.stylelintignore
.eslintrc.js
.gitignore
*.md
*.html
.env.development
.env.production
*.json
*.lock
*.ejs
*.snap

