.sponsors-container{
    background-color:black;
    color:white;
    font-family:'clashdisplay';
    font-size:2rem;
    text-align:center;
    font-weight:bold;
}
.sponsors-container div div{
    
}
.sponsors-img{
    width:20rem;
    height:20rem
}
.sponsors-img img{
    width:100%;
    height:100%;
    object-fit:contain;
}
