$text-color: #ffffff;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    overflow-x: hidden;
}

// body {
//     position: relative;
//     font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
//         segoe ui, arial, sans-serif;
//     color: black;
//     -webkit-font-smoothing: antialiased;
//     background: #f1f4f8;
// }

// header

header {
    position: absolute;
    height: 108px;
    width: 100%;
    padding: 24px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text-color;
    .logo,
    .episode {
        span {
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 0.04rem;
        }
    }
}
