.campaigns-container-main {
    background-color: black;
    /* position: relative; */
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.campaigns-head {
    font-weight: 700;
    font-size: 5.5vw;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
}

.box:nth-of-type(even){
  position: absolute;
  top: 50%;
  left: 65%;
  height: auto;
  visibility:hidden;
}

.box{
    transform: translate(-50%,-50%);
      width: 50%;
      opacity: 0;
}
.box:nth-of-type(odd){
  position: absolute;
  top: 45%;
  left: 45%;
  height: auto;
  visibility:hidden;
}

.box img{
    width: 100%;
}
.campaigns-img {
    width:100%;
}
