.campaigns-container-main {
    background: url('@assets/images/stars.webp');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.campaigns-head {
    font-weight: 700;
    font-size: 5vw;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
}

.campaigns-img {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px;
    border-radius: 3.5%;
    width: 25vw;
}
