.footer-container {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}

.icons-container {
    display: flex;
    justify-content: space-around;
    padding-top: 20vh;
    padding-bottom: 45vh;
}

/* .icons-container img {
} */

.icon-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    gap: 20px;
}

.phones-container {
    display: flex;
    justify-content: center;
    gap: 180px;
    opacity: 0.4;
}

.phones-wrapper {
    display: flex;
    justify-content: center;
    padding-left: 45px;
}

.phones-wrapper img {
    margin: 0px -45px;
    height: 90vh;
}

.phones-text-wrapper {
    margin-left: 45px;
    max-width: 20ch;
    margin: auto 0;
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
}
