.footer-container {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}

.icons-container {
    display: flex;
    justify-content: space-around;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

/* .icons-container img {
} */

.icon-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    gap: 20px;
}

.phones-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 5vh 0;
    gap: 180px;
    opacity: 0.3;
}

.phones-wrapper {
    display: flex;
    justify-content: center;
    padding-left: 45px;
}

.phones-wrapper img {
    margin: 0px -45px;
    height: 90vh;
}

.phones-text-wrapper {
    margin-left: 45px;
    max-width: 20ch;
    margin: auto 0;
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
}

.alcher-lady-container-1 {
    height: 60vh;
}
.alcher-lady-container-2 {
    display: flex;
    justify-content: space-between;
}

.alcher-lady-container-2 p {
    padding: 25vh 5vw;
    font-weight: 500;
    font-size: 30px;
    line-height: 55px;
}

.alcher-lady-container-2 img {
    margin: auto;
    width: 85vw;
}
