.container-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    /* position: relative; */
}

.img-container {
    position: absolute;
    overflow: hidden;
}

.img-pos-11 {
    top: 5%;
    left: 5%;
    height: 50vh;
}

.img-pos-21 {
    bottom: 5%;
    left: 5%;
    height: 30vh;
}

.img-pos-12 {
    top: 5%;
    right: 5%;
    height: 50vh;
}

.img-pos-22 {
    bottom: 5%;
    right: 5%;
    height: 30vh;
}

.img-wrapper {
    font-size: 0;
    height: 50vh;
    width: 300px;
}

.img-side {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    margin: 35% 0px;
    height: 100vh;
    /* max-width: 700px; */
}

.event-container {
    margin: 15px 0px;
    text-align: center;
}

.event-head {
    font-weight: bold;
    font-size: 5.2rem;
    text-align: center;
    opacity: 0.65;
}

.event-description {
    font-size: 1.2rem;
    text-align: center;
    max-width: 55ch;
    margin: auto;
    opacity: 0;
    /* max-width: 700px; */
}
